Custom CSS to lower the heading
h1 {
    margin-top: 50px; /* Adjust the value as needed */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
}

body {
    height: 100vh; /* 100% of the viewport height */
    width: 100%;
    margin: 0;
    padding: 0;
    background: #130000;
    background: url('/images/1909755trsb.jpg') center no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.banner .navbar{
	margin-top:4%;
}
.banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:#aaa;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #e91d43;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #e91e63;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-links li {
	margin-right: 20px; /* Adjust the spacing between links as needed */
}

.nav-links a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.logo {
	width: 150px; /* Adjust the logo size as needed */
	height: 110px; /* Adjust the logo size as needed */
}
        /* CSS to style the video container */
        .video-container {
            position: relative;
            width: 100%;
            height: 90vh; /* Make the video container take up the full viewport height */
            overflow: hidden;
            opacity: 0.7; /* Adjust the opacity to make it semi-transparent */
        }

        video#background-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
        }
        /* Additional styles for header and other content */

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #000000; /* Change this to your desired background color */
			padding: 10px 20px; /* Adjust padding as needed */
			background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for the header */
            align-items: center;
			padding: 20px;
            position: relative;
            z-index: 1; /* Ensure the header is above the video */
		}